* {
   margin: 0px;
   padding: 0px;
   background-repeat: no-repeat;
   overflow-x:hidden;

   color: white;
   font-family: Helvetica;
}

/* -- navigation bar --*/

.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 69px; /* change it to desired width */
    background-color: black; /* change to desired color */
    position: fixed;
    overflow: hidden;
    text-align: right;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
    padding-left: 10px;
    float: left;
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: center;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
    font-size: 22px;
    color: seashell;
    font-weight: bold;
}

/*-- Mission Section --*/
.mission {
  background-image: url("./images/missbk.jpg");
  background-position: center;
  text-align: center;
  width: 100%;
  height: 700px;
  padding: 69px 10px 0px 10px;
  margin: 20px auto;
  /*vertical-align: center;*/
  background-position: no-repeat;
  font-size: 1.5em;
  background-color: black;
}

#mission_h {

  margin-top: 220px;
  padding-top: 5px;
  background-color: black;
  line-height: 1.55;
  text-align: center;
  color: seashell;

  height: 100px;

}

/* -- Featured Section --*/
.feature {
  margin-top: -20px;
  padding-top: 40px;
  line-height: 2;
  font-family: Helvetica;
  text-align: center;
  font-size: 1.5em;
  background-color: black;
}


.images {

  padding: 10px 10px;
}


.row {
  display: inline-flex;
  align-items: center;

}

.row2 {

    display: inline-flex;
    align-items: center;
}

/* Location Section starts */

.location {

  background-image: url("./images/locbk.jpg");
  height: 500px;
  background-position: center;
  background-color: black;
}

.location h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 2.5em;
  font-weight: bold;
}

.loc {
  display: inline-flex;
  margin-left: 100px;
  padding: 20px 100px;
  align-items: center;

}
.loc1 {
  background-color: black;
  width: 300px;
  padding: 10px 10px;
  text-align: center;
  margin-left: 40px;
  line-height: 2.5;
  font-size: 1.2em;
}
.loc2 {
  background-color: black;
  width: 300px;
  padding: 10px 10px;
  text-align: center;
  margin-left: 40px;
  line-height: 2.5;
  font-size: 1.2em;
  font-size: 1.2em;
}
.loc3 {
  background-color: black;
  width: 300px;
  padding: 10px 10px;
  text-align: center;
  margin-left: 40px;
  line-height: 2.5;
  font-size: 1.2em;
}


.footer {
  text-align: center;
  background-color: black;
  height: 200px;
  padding: 20px 20px;
  line-height: 3;
  font-size: 1.2em;
}

#copy {
  text-align: left;
  background-color: black;
  height: 50px;
  padding-left: 20px;
}
